.text-default {
    color:rgba(238, 230, 230, 0.87);
    font-size:1.5rem;
    font-family: 'Courier New', monospace;
    text-align:justify;
    text-justify: inter-word;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:20px;
}

.lien {
    color:rgba(116, 129, 255, 0.918);
    text-decoration: none;
}


.lien:hover {
    color:rgba(81, 98, 255, 0.918);
}

.lien:active {
    color:rgba(0, 179, 255, 0.918);
}


.bigTitle {
    color:rgba(238, 230, 230, 0.87);
    font-size:3rem;
    /* font-family: 'Courier New', monospace; */
    font-family: "Josefin Sans",sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.125em;
}

.title {
    color:rgba(238, 230, 230, 0.87);
    font-size:2rem;
    /* font-family: 'Courier New', monospace; */
    font-family: "Josefin Sans",sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.125em;
}

.smallTitle {
    margin-top:2vh;
    color:rgba(238, 230, 230, 0.87);
    font-size:1.5rem;
    /* font-family: 'Courier New', monospace; */
    font-family: "Josefin Sans",sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.125em;
}

.center {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

br {
    user-select: none;
}