
html{
    position:relative; 
    min-height: 100%;
  }

br {
    user-select: none;
}

.centrer {
    margin: 0 auto;
    width: fit-content;
}

.title {
    color:rgba(238, 230, 230, 0.87);
    font-size:2rem;
    /* font-family: 'Courier New', monospace; */
    font-family: "Josefin Sans",sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.125em;
}

.smallTitle {
    margin-top:2vh;
    color:rgba(238, 230, 230, 0.87);
    font-size:1.5rem;
    /* font-family: 'Courier New', monospace; */
    font-family: "Josefin Sans",sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.125em;
}



#logoEntreprise {
    height: 250px;
    width: 250px;
}

#logoEntreprise:hover {
    transform: scale(1.05);
    transition: all .1s ease-in-out;
}

#containerTextEntreprise {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.text-default {
    color:rgba(238, 230, 230, 0.87);
    font-size:1.5rem;
    font-family: 'Courier New', monospace;
    text-align:justify;
    text-justify: inter-word;
}


#textEntreprise {
        color:rgba(238, 230, 230, 0.87);
        font-size:1.5rem;
        margin:0 auto;
        margin-top:15px;
        max-width: 30vw;
        min-width: 25vw;
        font-family: 'Courier New', monospace;
        text-align:justify;
        text-justify: inter-word;
        padding-bottom: 5vh;
}

#presentationEntreprise {
    display:flex;
    flex-direction: row;
    padding: 4rem 0 0 10rem;
}


footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:20px;
}



#presentationProjet {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

#presentationProjet img {
    width: 20rem;
    height: 10rem;
}

#presentationProjet p {
    font-size:1.3rem;
    margin: auto 3rem;
    max-width: 45rem;
}




/* Applications */


#logiciels {
    margin-top: 4rem;
    display:flex;
    flex-direction: row;
    gap:50px;
    z-index:1;

}



#logiciels img {
    border-radius:50%;
    width: 150px;
    height: 150px;
    z-index:1;
    user-select: none;
}







.overlay {
    opacity: 0;
}

.container {
    position: relative;
    width: 50%;
}

.lien {
    color:rgba(116, 129, 255, 0.918);
    text-decoration: none;
}


.lien:hover {
    color:rgba(81, 98, 255, 0.918);
}

.lien:active {
    color:rgba(0, 179, 255, 0.918);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    height: 100%;
    border-radius: 48%;
    opacity: 0;
    transition: .3s ease;
    background-color: #242a36;
    text-align: center;
}

.container:hover .overlay {
    opacity: 0.9;
    transform: scale(1.01);
}



.textOverlayLogiciels {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
}



#titleAngularMVC {
    margin: 5vh auto 5vh auto;
}


.imgAndTextLeftToRight {
    display: flex;
    flex-direction: row;
}
.imgAndTextRightToLeft{
    display: flex;
    flex-direction: row-reverse;
}

#angularMVC {
}

#angularMVC img {
    margin: auto auto;
    width: 45vw;
    height: 50vh;
    border-radius: 1%;
    border: 2px solid #242a36;
}

#angularMVC p {
    padding: 5vh 5vw;
    max-width: 40vw;
}
    
#textOrganisation {
    margin-top: 2vh;
    max-width: 60vw;
}

#containerOrganisation {
    display:flex;
    flex-direction: row;
    gap:1vw;
}

.orgaElement {
    display: flex;
    flex-direction: column;
    width: 45vw;
    margin:0 auto;
}

.orgaElement p {
    text-align: center;
}

.orgaElement img{
    width: 20vw;
    height: 45vh;
    margin: 0 auto;
}
#objectifStageTitle {
    margin: 3vh auto;
}


.objectifStage p {
    max-width: 60vw;
    margin: 0 auto;
}