




#contexte p {
    color:rgba(238, 230, 230, 0.87);
    font-size:1.2vw;
    margin:0 auto;
    margin-top:15px;
    max-width: 25vw;
    min-width: 25vw;
    font-family: 'Courier New', monospace;
    text-align:justify;
    text-justify: inter-word;
    padding-bottom: 5vh;
}

#presentationAppText img {
    margin: 0 0 0 8em;
    width: 40vw;
    filter: invert(10%);
    user-select: none;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5%;
}

#presentationAppText {
    display: flex;
    height:400px;
    flex-direction: row;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: center;

}

#presentationAppText p {
    color:rgba(238, 230, 230, 0.87);
    font-size:1.5vw;
    margin:0 auto;
    margin-top:15px;
    width: 25vw;
    font-family: 'Courier New', monospace;
    text-align:justify;
    text-justify: inter-word;
    padding-bottom: 5vh;
}


.title {
    font-size:3vw;
    /* font-family: 'Courier New', monospace; */
    font-family: "Josefin Sans",sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.125em;
}

#bar1 {
    width: 350px;
    height: 4px;
    background-color:#525e65;
    position: absolute;
    margin-top:4vh;
    left: 50%;
    transform: translate(-50%);
}



.centrer {
    margin: 0 auto;
    width: fit-content;
}

#logiciels {
    margin-top: 10vh;
    display:flex;
    flex-direction: row;
    gap:50px;
    z-index:1;

}

#logiciels img {
    border-radius:50%;
    max-width:150px;
    min-width: 50px;
    height: 150px;
    z-index:1;
    user-select: none;
}






.overlay {
    opacity: 0;
}


.container {
    position: relative;
    width: 50%;
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width:150px;
    height: 150px;
    border-radius: 50%;
    opacity: 0;
    transition: .3s ease;
    background-color: #242a36;
    text-align: center;
}

.container:hover .overlay {
    opacity: 0.9;
    transform: scale(1.01);
}



.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
}



#presentationCapteur {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap:150px;
}


.containerReunion {
    margin-top:50px;
    display: flex;
    justify-content: flex-end;
    width: 40%;
    position: relative;

}

.containerReunion img {
    border-radius: 5px;
    display: block;
    width: 100%;
    height: auto;
    filter: invert(10%);
    user-select: none;
}

.overlayReunion {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7); /* Black see-through */
    color: #f1f1f1; 
    transition: .5s ease;
    width: fit-content;
    opacity:0;
    color: #ffffff;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }

.containerReunion:hover .overlayReunion {
    opacity: 1;
}



#listModif {
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin:0 auto;
    width:fit-content;

}

#listModif ul {
    display:flex;
    flex-direction: column;
    gap:20px;
}

.texteListeModif {
    color:rgba(238, 230, 230, 0.87);
    font-size:1.2vw;
    font-family: 'Courier New', monospace;

}

.textNormal {
    color:rgba(238, 230, 230, 0.87);
    font-size:1.2vw;
    margin:0 auto;
    margin-top:15px;
    max-width: 49vw;
    min-width: 25vw;
    font-family: 'Courier New', monospace;
    text-align:justify;
    text-justify: inter-word;
    padding-bottom: 5vh;
}



.imgCentrer {
    display:flex;
    margin: 0 auto 50px auto;
}


footer {
    display: flex;
    margin:0 auto;
    justify-content: center;
    font-size:20px;
    background-color: #525e65;
}