




.smallText {
    color:rgba(238, 230, 230, 0.87);
    font-size:1.5rem;
    margin:0 auto;
    margin-top:15px;
    max-width: 30vw;
    min-width: 25vw;
    font-family: 'Courier New', monospace;
    text-align:justify;
    text-justify: inter-word;
    padding-bottom: 5vh;
}

#presentationAppText img {
    margin: 0 0 0 8em;
    width: 40vw;
    filter: invert(10%);
    user-select: none;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5%;
}





.title {
    font-size:2rem;
    /* font-family: 'Courier New', monospace; */
    font-family: "Josefin Sans",sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.125em;
}

#bar1 {
    width: 350px;
    height: 4px;
    background-color:#525e65;
    position: absolute;
    margin-top:1vh;
    left: 50%;
    transform: translate(-50%);
}



.centrer {
    margin: 0 auto;
    width: fit-content;
}

#logiciels {
    margin-top: 4rem;
    display:flex;
    flex-direction: row;
    gap:50px;
    z-index:1;

}



#logiciels img {
    border-radius:50%;
    width: 150px;
    height: 150px;
    z-index:1;
    user-select: none;
}







.overlay {
    opacity: 0;
}


.container {
    position: relative;
    width: 50%;
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    height: 100%;
    border-radius: 48%;
    opacity: 0;
    transition: .3s ease;
    background-color: #242a36;
    text-align: center;
}

.container:hover .overlay {
    opacity: 0.9;
    transform: scale(1.01);
}



.textOverlayLogiciels {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
}



#presentationCapteur {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap:150px;
}


.containerReunion {
    margin-top:20px;
    display: flex;
    width: 40%;
    position: relative;

}

.containerReunion img {
    border-radius: 5px;
    display: block;
    width: 100%;
    height: auto;
    filter: invert(10%);
    user-select: none;
}

.overlayReunion {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7); /* Black see-through */
    color: #f1f1f1; 
    transition: .5s ease;
    width: fit-content;
    opacity:0;
    max-height: 100%;
    color: #ffffff;
    font-size: 1rem;
    padding: 20px;
    text-align: center;
  }

.containerReunion:hover .overlayReunion {
    opacity: 1;
}


#listModif {
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin:0 auto;
    width:fit-content;

}

#listModif ul {
    display:flex;
    flex-direction: column;
    gap:20px;
}

.texteListeModif {
    color:rgba(238, 230, 230, 0.87);
    font-size:1.3rem;
    font-family: 'Courier New', monospace;

}

.textNormal {
    color:rgba(238, 230, 230, 0.87);
    font-size:1.4rem;
    margin:10px auto;
    margin-top:15px;

    max-width: 50rem;
    font-family: 'Courier New', monospace;
    text-align:justify;
    text-justify: inter-word;
    padding-bottom: 5vh;
}



.imgCentrer {
    display:flex;
    margin: 0 auto 50px auto;
    max-width: 500px;
}


footer {
    display: flex;
    margin:0 auto;
    justify-content: center;
    font-size:20px;
    background-color: #525e65;
}

@media only screen and  (max-width: 1100px) {

    .smallText {
        font-size:1.5rem;
        max-width: 45vw;

    }
    .textNormal {
        font-size:1.4rem;
        max-width: 40rem;
    }

    #presentationCapteur {
        flex-direction: column;
        align-items:center;
        gap:50px;
    }

    .texteListeModif {
        font-size:1.1rem;
    }

    .containerReunion {
        padding-top:0px;
        width: 60%;
    }
    .overlayReunion {
        font-size:1rem;
    }

    #bar1 {
        margin-top:2vh;
    }

    #logiciels {
        gap:25px;
        margin-top: 2.5rem;
    }
    
    #logiciels img {
        width: 100px;
        height: 100px;
    }
    .imgCentrer {
        width: 400px;
    }
}

@media only screen and  (max-width: 900px) {

    .smallText {
        max-width: 45vw;
    }
    .textNormal {
        font-size:1.1rem;
        max-width: 40rem;
    }

    .texteListeModif {
        font-size:1rem;
    }

    
    .overlayReunion {
        font-size: 0.8rem;
    }

    #bar1 {
        margin-top:1vh;
    
    }

    .imgCentrer {
        width: 300px;
    }

    .containerReunion {
    width: 70%;
    }
}


@media only screen and (max-width: 768px) {
    #bar1 {
        margin-top:1vh;
        width: 250px;
    }

    #logiciels {
        gap:20px;
    }
    
    #logiciels img {
        width: 80px;
        height: 80px;
    }

    .texteListeModif {
        font-size:1rem;
    }
    .textOverlayLogiciels {
        font-size: 12px;
    }
    .smallText {
        max-width: 65vw;
        font-size:1.2rem;
    }

    .textNormal {
        font-size:1.1rem;
        max-width: 35rem;
    }

    .title {
    font-size: 2rem;

    }
}


@media screen and (max-width:600px) {
    .title {
        font-size: 1.6rem;
    }
    .textNormal {
        font-size:1.1rem;
        max-width: 28rem;
    }

    .texteListeModif {
        font-size:0.75rem;
    }

    .containerReunion {
        width: 80%;
        }

}



@media screen and (max-width:478px) {
    #logiciels img {
        width: 50px;
        height: 50px;
    }
    #bar1 {
        margin-top:0vh;
        width: 150px;
    }

    .smallText {
        max-width: 75vw;
        font-size:1.1rem;
    }

    .textNormal {
        font-size:0.8rem;
        max-width: 20rem;
    }
    .texteListeModif {
        font-size:0.7rem;
    }

    .containerReunion {
        width: 90%;
        }
    
}

@media screen and (max-width:430px) {
    .presentationAppText {
        margin-top:1em;
        display: flex;
        width: 100%;
    }

    .presentationAppText p {
        margin:0 auto;
        justify-content: center;
        text-align: center;
    }

    #logiciels img {
        width: 45px;
        height: 45px;
    }
    .texteListeModif {
        padding: 0 25px 0 25px;
        font-size:1rem;
    }
    #titleStage {
        display: flex;
        margin:1rem auto;
        align-items: center;
        text-align: center;
        width: 300px;
    }
    #titleStage p {
        margin:0 auto;
        justify-content: center;
        text-align: center;
    }

    #titleModif {
        display: flex;
        align-items: center;
        text-align: center;
        width: 300px;
    }
}


@media screen and (max-width:350px) {

    .smallText {
        max-width: 60vw;
        font-size:1rem;
    }

    .textNormal {
        font-size:0.8rem;
        max-width: 15rem;
    }
    .presentationAppText {
        margin-top:410em;
        align-items: justify;
        display: flex;
        margin:0 auto;
        align-items: justify;
        width: 250px;
    }
}